/*0.先对页面做一些统一的声明*/
/*星是通用选择器,可以选择一切元素*/
* {
	padding: 0;
	margin: 0;
}

/*1.给页面布局,即设置每个区域的位置和大小*/
div {
	border: 1px solid red;
	margin: 0 auto;
}
.logo {
	width: 960px;
	height: 61px;
}
.menu {
	height: 91px;
}
.core {
	height: 410px;
	/*顶部预留10px的空间,将来摆放渐变条*/
	padding-top: 10px;
}
.copy {
	width: 960px;
	height: 50px;
}
.content {
	width: 950px;
	height: 390px;
	border: 5px solid #8ac1db;
}
.content>div {
	width: 910px;
	height: 40px;
}
.content>.data {
	height: 310px;
}

/*2.设置背景*/
body {
	background-color: #0EA8D8;
}
.logo {
	background-image: url(../img/top_bg.png);
}
.menu {
	background-color: #0488BB;
}
.core {
	background: url(../img/content_bg.png)
		repeat-x top;
}
.content {
	background-color: #e8f3f8;
}

/*3.设置logo区和版权区文字的样式*/
body {
	font-family: "微软雅黑","文泉驿正黑","黑体";
	font-size: 14px;
}
.logo {
	text-align: right;
	line-height: 61px;
}
.logo>a {
	margin-right: 40px;
	color: #FFF;
	text-decoration: none;
}
.logo>a:hover {
	font-weight: bold;
}
.copy>p {
	text-align: center;
	color: #FFF;
	height: 25px;
	line-height: 25px;
}

/*4.设置数据区表格的样式*/
.data>table {
	border: 1px solid #ccc;
	/*边框合并必须写在table上*/
	border-collapse: collapse;
	width: 100%;
}
.data td {
	border: 1px solid #ccc;
	text-align: center;
}
.data thead tr {
	height: 40px;
	background-color: #fbedce;
	font-weight: bold;
}
.data tbody tr {
	height: 32px;
	background-color: #FFF;
}
.data tbody tr:hover {
	background-color: #f7f9fd;
}
.update {
	padding-left: 15px;
	background: url(../img/modification.png)
		no-repeat left;
	border: 0;
	/*鼠标显示为手型*/
	cursor: pointer;
}

/*5.解决logo图片和消息框的摆放问题*/
.logo>img {
	float: left;
}
.content {
	/*为了方便子元素做绝对定位*/
	position: relative;
}
.content>.msg {
	width: 500px;
	height: 80px;
	position: absolute;
	left: 250px;
	top: 100px;
}
.msg>img {
	float: right;
	margin: 5px;
	cursor: pointer;
}
.msg>p {
	margin-left: 38px;
	line-height: 80px;
}
.msg {
	background: #FDECEC url(../img/ok.png)
		no-repeat 10px 32.5px;
	border: 1px solid #F68A8A;
}

/*6.设置菜单区图标样式*/
.menu>ul {
	border: 1px solid yellow;
	width: 960px;
	height: 91px;
	margin: 0 auto;
	list-style-type: none;
}
.menu li {
	border: 1px solid yellow;
	width: 68px;
	height: 77px;
	margin: 7px 14px;
	float: left;
}
.index {
	background-image: url(../img/index_out.png);
}
.index:hover {
	background-image: url(../img/index_on.png);
}
.role {
	background-image: url(../img/role_out.png);
}
.role:hover {
	background-image: url(../img/role_on.png);
}

/*收尾:去掉调试所用的边框*/
div,.menu>ul,.menu li {
	border: 0;
}
















